<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "https://cdn.shopper.com/images/store-logos/paulaschoice-com-au-1554772002099.png"  type = "image/x-icon"> 
    <title>Shop Paula's Choice</title>
    <link rel="stylesheet" href="./styles/Review.css">
</head>
<body>
    <div id="mHead">

        <div id="Rhead">
            <a href="home.html">
                <h2>PAULA❜S  CHOICE</h2>
                <h4>SKINCARES</h4>
            </a>
            
        </div>
        <div id="steps">
            <a href="Shipping.html">
                <div id="1step">
                    <div id="cl">1</div>
                    <p>SHIPPING</p>
                </div>
            </a> 
            <hr>
            <div id="Pstep">
                <div id="cl">2</div>
                <p>PAYMENT</p>
            </div>
            <hr>
            <div id="3step">
                <div id="cl">3</div>
                <p>REVIEW</p>
            </div>
            <hr>
            <div id="4step">
                <div id="secCl">4</div>
                <p style="color: lavender;">COMPLETE</p>
            </div>
            
            
        </div>

    </div>

    <div id="Rcont">
        <h2>Order Review </h2><hr>
        <p style="font-size: large;">Review the details of your order below and if everything looks right, click the "Submit Order" button.</p>
        <div id="shippingDet">
            <div id="up">
                <p style="font-size: 22px;">Shipping</p>
                <a href="Shipping.html"><p style="color: blue; font-size: 15px;">Edit Shipping</p></a>

            </div>
            
            <div id="address">
                <div id="Sadd">
                    <h3>Shipping Address</h3>
                    <div id="addres"></div>
                </div>
                <div id="Smethod">
                    <h3>Shipping Method</h3>
                    <p>International Express- $55.00 Arrives in 5-10 business days.</p>
                </div>
                <div id="Gmessage">
                    <h3>Gift Message</h3>
                    <p>No Message</p>
                </div>

            </div>

             
            

            

        </div>
        
        
        
        <a href="Complete.html"> <button>Submit Order</button></a>
        
    </div>
    <div id="terms">
        <p>
          By continuing, you agree to our <a href="/">Terms of use.</a>For more
          informationn about our privacy practics, plese see our
          <a href="/">Privicy Policy.</a>
        </p>
        <img
          src="https://www.paulaschoice.com/on/demandware.static/-/Library-Sites-paulachoice/default/dw3b046b8b/mcafee.png"
          alt=""
        />
    </div>
</body>
</html>
<script src="./components/Review.js"></script>